<h2>Metadata Keys</h2>
<p>
<%=@metadata.keys%>
</p>

<h2>Metadata Values</h2>
<p>
<%=@metadata.values%>
  <%= form_for :pdf_processor, :html => {:multipart => true} do |f| %>
    <div class = "form-group">
      <%= f.label :file %><br>
      <%= f.file_field :file  %>
    </div>  
      <%= f.submit %>
  <% end %>
</p>

<p>
<%= form_for :edited, url: pdf_processor_path do |f| %>
  <%= @metadata.keys.each_with_index do |s, i| %>
    <%= f.label s %>: <%= f.text_area s, :value => @metadata.values[i] %> <br />
  <% end %>
  <%= f.submit %>
<% end %>
</p>