<!-- Peter works his front-end magic in this file -->

<!-- Added by erena for unit testing -->

<h4> Enter metadata information and upload PDF below: </h4>

 <%= form_tag( { :action => 'update_pdf', :controller => 'pdf_processor'}, :multipart => true ) do %>
  <div class="form-group">
    <label for="title">Title</label>
    <%= text_field_tag "title", nil, placeholder: "Enter paper title", class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    <%= text_field_tag "author", nil, placeholder: "Enter author name(s)", class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="subject">Subject</label>
    <%= text_field_tag "subject", nil, placeholder: "Enter subject", class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="date">Creation Date</label>
    <%= text_field_tag "date", nil, placeholder: "Enter creation date", class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="keywords">Keywords</label>
    <%= text_field_tag "keywords", nil, placeholder: "Enter keyword(s)", class: "form-control" %>
  </div>

      Upload file: <%= file_field_tag "file", accept: "application/pdf" %>
      <br />
   <%= submit_tag( "Upload file" )  %>
   <% end %>

  <h2> Access SIGCHI PDF Tagging </h2>
    <p>By using our converter you can easily metadata tag PDFs and download them. Our service is free and does not require any software or registration. By using our service you are accepting our <a href="terms-of-use/">terms of use</a>. </p>
    <p> To tag a PDF, upload the untagged copy and enter the appropriate metadata information. As soon as the conversion is finished, you can download the file. </p>
    <p> Enjoy! We hope you like our service. </p>